<div
  class="relative flex min-h-screen shrink-0 justify-center md:px-12 lg:px-0"
>
  <div
    class="relative z-10 flex flex-1 flex-col bg-white px-4 py-10 shadow-2xl sm:justify-center md:flex-none md:px-28"
  >
    <main class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
      <div class="flex">
        <a aria-label="Home" href="/">
          <app-brand />
        </a>
      </div>
      <h2 class="mt-20 text-lg font-semibold text-gray-900">
        Inicia sesión en tu cuenta
      </h2>
      <p class="mt-2 text-sm text-gray-700">
        ¿No tienes una cuenta?
        <a class="font-medium text-blue-600 hover:underline" href="/register"
          >Regístrate</a
        >
      </p>
      <app-form-login />
    </main>
  </div>
  <div class="sm:contents lg:relative lg:block lg:flex-1">
    <img
      alt=""
      loading="lazy"
      width="1664"
      height="1866"
      decoding="async"
      data-nimg="1"
      class="absolute inset-0 h-full w-full object-cover"
      src="https://salient.tailwindui.com/_next/static/media/background-auth.4bcf3f4b.jpg"
      style="color: transparent"
    />
  </div>
</div>
