<form (submit)="submit()" [formGroup]="loginForm" class="mt-10 grid grid-cols-1 gap-y-10">
  <app-input-form label="Correo Electrónico" type="email" placeholder="Correo Electrónico"
    [control]="loginForm.get('username')"></app-input-form>

  <app-input-form label="Contraseña" type="password" placeholder="Contraseña"
    [control]="loginForm.get('password')"></app-input-form>

  <div>
    <button
      class="group inline-flex items-center justify-center rounded-full py-3 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600 w-full disabled:bg-blue-600 disabled:opacity-70 disabled:cursor-none"
      type="submit" [disabled]="loginForm.invalid">
      <span>Iniciar Sesión <span aria-hidden="true">→</span></span>
    </button>
  </div>
</form>